qdrant.ulakbim.gov.tr {
    route /ui* {
        uri strip_prefix /ui
        # Qdrant paneli /dashboard altında çalıştığı için yolu /dashboard olarak güncelliyoruz
        rewrite * /dashboard{path}
        reverse_proxy qdrant:6333
    }

    # Geri kalan her şey Flask uygulamasına
    reverse_proxy app:5001
}